@use "@nebular/theme/styles/theming" as *;
@use "themes" as *;

@include nb-install-component() {
  nb-card-header {
    display: flex;
    justify-content: center;
    text-align: center;

    p {
      width: 80%;
    }
  }
}
