<nb-list>
  @for (item of frontCardData; track item.date) {
  <nb-list-item class="item">
    <span>{{ item.date }}</span>
    <span>{{ item.value }}</span>

    @if (item.delta) {
    <span class="delta" [ngClass]="item.delta.up ? 'up' : 'down'">
      <nb-icon
        [icon]="item.delta.up ? 'arrow-up' : 'arrow-down'"
        pack="eva"
      ></nb-icon>
      {{ item.delta.value }}%
    </span>

    <ngx-traffic-bar [barData]="item.comparison" [successDelta]="item.delta.up">
    </ngx-traffic-bar>
    }
  </nb-list-item>
  }
</nb-list>
